*{
  box-sizing: border-box;
  margin: 0;
}

.container{
  margin:0 auto;
  padding:1rem;
}


.text{
  font-size: 1.2rem;
  padding: 1rem;
  margin-top:2.5rem;
}

.kolecko{
  width:5rem;
  height: 5rem;
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 50%;
  display:block;
}

.kolecko-float{
  width:5rem;
  height: 5rem;
  background: #373B44;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #4286f4, #373B44);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #4286f4, #373B44); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  border-radius: 50%;
  margin:0 1% 0 1%;
  display:block;
  float:left;
}

.kolecko-float:nth-child(1){
  margin-left: 14%;
}

.kolecko-float:nth-child(2){
  margin-left: 27%;
}

.kolecko-float:nth-child(3){
  margin-left: 27%;
}

.float-container{
  width:100%;
}

.float-container:after{
  content: "";
  clear: both;
  display: block;
}

.flex-container{
  display:flex;
  justify-content: space-around;
}

.grid-container{
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-items:center;
}
